html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.inputs {
  text-align: center;
  padding: 1em;
}

input {
  margin: 0 2em;
  padding: 0.5em;
}

.container {
  padding: 1em;
}

.grid-item {
  border: 1px solid black;
  display: inline-block;
  padding: 0.5em;
  margin: 0.1em 0.1em;
}

.color {
  background: red;
}
