<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <title>Sandbox</title>

    <link rel="stylesheet" href="css/main.css">

  </head>

  <body>

    <div id="app">
      <input v-model="newTodo" v-on:keyup.enter="addTodo">
      <ul>
        <li v-for="todo in todos">
          <span>{{ todo.text }}</span>
          <button v-on:click="removeTodo($index)">X</button>
        </li>
      </ul>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
    <script src="js/app.min.js"></script>

  </body>
</html>
